<html>
  <head>
    <title>Project56</title>
  </head>
  <body>
      {% for vehicle in vehicles %}
      <div><p>vehicle: {{vehicle.id}} - ignitions: {{ vehicle.ignitions }} </p></div>
      {% endfor %}

      <h1>Ignition check</h1>
        <a href="/test">Test me!</a>
        {% for data in data %}
        <div><p>Vehicle: {{ data.id }} - ignitions: {{ data.ignitions }}</p></div>
        {% endfor %}
        <form action="test2" method="post">
          <input type="text" name="testreq"><br>
          <input type="submit" value="Submit">
</form>
  </body>
</html>
