<html>
  <head>
    <title>{{ title }} - microblog</title>
  </head>
  <body>
      {% for vehicle in vehicles %}
      <div><p>vehicle: {{vehicle.id}} - ignitions: {{ vehicle.ignitions }} </p></div>
      {% endfor %}

      <h1>Ignition check</h1>
        <form action="" method="post" name="login">
            <p>
                Please enter how many results you want:<br>
                {{ form.results(size=3) }}<br>
            </p>
            <p><input type="submit" value="search"></p>
        </form>
  </body>
</html>
