<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}


<div id="page-wrapper">
    <div class="row">

        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
   
    <!-- /.row -->
    <div class="row">
        <div class=".col-xs-6 .col-sm-4">

            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> General Information
					
 <!--                     <div class="pull-right">
          gooit rechts

                    </div>  -->
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">

                        <div class="col-lg-4">
						 <i class="fa fa-globe fa-fw"></i> GPS

                    <div id="morris-donut-chart"> 
					
					</div>                        </div>
                        <!-- /.col-lg-4 (nested) -->
                        <div class="col-lg-8">
						<i class="fa fa-automobile fa-fw"></i> Car Usage
                            <div id="morris-bar-chart"></div>
                        </div>
                        <!-- /.col-lg-8 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Latest Information
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <ul class="timeline">
					
						{% for row in unitid %}	
						{%if loop.index%2 == 0%}
						
						    <li class="timeline-inverted">
							{% if status[loop.index-1] == true %}
                            <div class="timeline-badge success">
							{% else %}	
							<div class="timeline-badge danger">
							{% endif %}
							<i class="fa fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">{{ row }}</h4>
                                    <p><small class="text-muted"><i class="fa fa-clock-o"></i>--LAST TIME ONLINE--</small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    <p>I am a car</p>
                                    <p>I am a car</p>
                                    <p>I am a car</p>                               
									</div>
                            </div>
                        </li>
						
					
						
						{% else %}

                        <li>							 

                            {% if status[loop.index-1] == true %}
                            <div class="timeline-badge success">
							{% else %}
							<div class="timeline-badge danger">
							{% endif %}
							<i class="fa fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">{{ row }}</h4>
                                    <p><small class="text-muted"><i class="fa fa-clock-o"></i>--LAST TIME ONLINE--</small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    <p>I am a car</p>
                                    <p>I am a car</p>
                                    <p>I am a car</p>
									
                                </div>
                            </div>
                        </li>
						

						{% endif %}
						{% endfor %}
	
                  
				  
                        </li>
                    </ul>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->

        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->

{% endblock %}

{% block pagescript %}

    <!-- Timeline CSS -->
    <link href="/dist/css/timeline.css" rel="stylesheet">

    <!-- Morris Charts JavaScript -->
    <script src="/bower_components/raphael/raphael-min.js"></script>
    <script src="/bower_components/morrisjs/morris.min.js"></script>
	<script>
	$(function() {
		

    Morris.Donut({
        element: 'morris-donut-chart',
        data: [{
            label: "GPS Grade: C",
            value: 23
        }, {
            label: "GPS Grade: A",
            value: 30
        }, {
            label: "GPS Grade: B",
            value: 30
        }, {
            label: "GPS Grade: F",
            value: 30
        }],
        resize: true,
		colors: ['#FF0000','#008000','#FFFF00','#000000']
    });

    Morris.Bar({
        element: 'morris-bar-chart',
        data: [{
            y: {{ unitid[0] }},
            a: 100,
            b: 90,
			c: 90
        }, {
            y: {{ unitid[1] }},
            a: 75,
            b: 65,
			c: 22
        }, {
            y: {{ unitid[2] }},
            a: 50,
            b: 40,
			c: 12
        }, {
            y: {{ unitid[3] }},
            a: 75,
            b: 65,
			c: 23
        }, {
            y: {{ unitid[4] }},
            a: 50,
            b: 40,
			c: 60
        }, {
            y: {{ unitid[5] }},
            a: 75,
            b: 65,
			c: 50
        }, {
            y: {{ unitid[6] }},
            a: 100,
            b: 90,
			c: 50
        }],
        xkey: 'y',
        ykeys: ['a', 'b', 'c'],
        labels: ['Ignition count', 'Power count','Milage'],
        hideHover: 'auto',
        resize: true
    });

});

	</script>

{% endblock %}