{% from "macros/navlink.html" import nav_link with context %}

{% macro nav_bar(name) %}
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

                <li>
                    <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>

				<!------------------> 
				                <li>
                    <a href="#"><i class="fa fa-automobile fa-fw"></i> Unit Data<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
						{{nav_link(name="Car Status", url="cars.html", active=name)}}
					    {{nav_link(name="Current Analyses", url="graphs.html", active=name)}}
                        {{nav_link(name="Flot Chart samples", url="flot.html", active=name)}}
                        {{nav_link(name="Morris.js Chart samples", url="morris.html", active=name)}}
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
				<!------------------> 
				                <li>
                    <a href="#"><i class="fa fa-globe fa-fw"></i> GPS Data<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
						{{nav_link(name="Car Status", url="cars.html", active=name)}}
					    {{nav_link(name="Current Analyses", url="graphs.html", active=name)}}

                    </ul>
                    <!-- /.nav-second-level -->
                </li>
				<!------------------> 
				                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Meta Data<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
						{{nav_link(name="General", url="meta.html", active=name)}}
					    {{nav_link(name="Specials", url="metaspecials.html", active=name)}}

                    </ul>
                    <!-- /.nav-second-level -->
                </li>
				<!------------------> 
				<!------------------> 
				<!------------------> 
				<!------------------> 
				
				<li>
                    <a href="tables.html"><i class="fa fa-table fa-fw"></i> Placeholders V</a>
                </li>
				<li>
                    <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                </li>
                <li>
                    <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        {{nav_link(name="Panels and Wells", url="panels-wells.html", active=name)}}
                        {{nav_link(name="Buttons", url="buttons.html", active=name)}}
                        {{nav_link(name="Notifications", url="notifications.html", active=name)}}
                        {{nav_link(name="Typography", url="typography.html", active=name)}}
                        {{nav_link(name="Icons", url="icons.html", active=name)}}
                        {{nav_link(name="Grid", url="grid.html", active=name)}}
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                {% if name == "Blank Page" or name == "Login Page" %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                    <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        {{nav_link(name="Blank Page", url="blank.html", active=name)}}
                        {{nav_link(name="Login Page", url="login.html", active=name)}}
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
{% endmacro %}